<h1>News Articles - BBC</h1>
<h3>See rececent articles from BBC below:</h3>
<button id="scrape">Scrape Articles</button>

<ul>
    {{#each Articles}}
        <div>
            <a href="{{link}}"><h4>{{title}}</h4></a>
            <p>{{summary}}</p>
        </div>
    {{/each}}
</ul>